#Grid {
    -fx-border-width: 2px;
    -fx-border-color: lightgrey;
}

.label {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-font-family: "Palatino Linotype";
    -fx-border-color: lightgrey;
    -fx-border-width: 1px;
}