#Grid {
    -fx-border-width: 2px;
    -fx-border-color: grey;
}

.label {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-size: 16;
    -fx-font-family: "Palatino Linotype";
    -fx-border-color: grey;
    -fx-border-width: 1px;
    -fx-background-color: rgba(169, 169, 169, 0.7);
}