#Grid {
    -fx-border-width: 2px;
    -fx-border-color: lightgrey;
}

.center-label {
    -fx-text-alignment: center;
    -fx-alignment: center;
}

#info_Label {
    -fx-font-size: 20;
    -fx-font-family: "Palatino Linotype";
}